.music {
    background-color: #F5F5F5;

    .music-con {
        width: 1200px;
        margin: 0 auto;
    
        .music-div {
            display: flex;
            width: 980px;
            margin: 0 auto;
        }
        .music-left {
            width: 729px;
            padding: 20px 20px 40px;
            background-color: #fff;
            border: 1px solid #d3d3d3;
        }
        .music-right {
            width: 250px;
            background-color: lightblue;
        }
    }
}
