.btn {
    border-radius: 15px!important;
    height: 48px!important;
    text-align: center!important;
    background: #F00D10!important;
    width: 100%!important;
    color: white!important;
    line-height: 48px!important;
}

.zhangbin {
    .ant-modal-body {
        padding-left: 80px;
    }
}