.learnhome {
    text-align: center;
    h3 {
        font-size: 20px;
        font-weight: 600px;
        color: #4D555D;
        margin: 0 3px;
    }
    .App {
        // margin-top: 46px;
        width: 100%;
    }
    .mvItems {
        // display: flex;
        // justify-content: cenetr;
        // background: yellow;
        width: 1200px;
        margin:  0 auto 0;
        padding: 36px 0 48px;
        box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
    }
}
