.music-swiper {
    overflow: hidden;
    width: 100%;
    transition: background 0.3s;

    .music-swiper-con {
        width: 1200px;
        margin: 0 auto;
    }
    .music-swiper-layout {
        display: flex;
        position: relative;
        width: 982px;
        margin: 0 auto;

        .swiper-container {
            position: static;
            width: 730px;

            .swiper-pagination {
                width: 730px;
            }
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                margin: 0 7.5px;
                background: #fff;
                opacity: .8;
            }
            .swiper-pagination-bullet-active {
                background: #1590FF;
            }
            [class^='swiper-button'] {
                display: flex;
                align-items: center;
                width: 37px;
                height: 63px;
                background: none;
            }
            .swiper-button-prev {
                left: -68px;

                .icon-left {
                    color: #fff;
                    font-size: 40px;
                    font-weight: 300;
                }
            }
            .swiper-button-next {
                right: -68px;

                .icon-right {
                    color: #fff;
                    font-size: 40px;
                    font-weight: 300;
                }
            }
        }
        
        .myinfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 254px;
            height: 336px;
            background-color: #FAFAFA;
            box-shadow: 0px 0px 20px #999;
            z-index: 1;

            .myinfo-con {
                display: flex;
                align-items: flex-start;
                padding-left: 20px;

                img {
                    padding: 2px;
                    border: 1px solid #dadada;
                }
                .myinfo-msg {
                    display: inline-block;
                    margin-left: 17px;
                    padding-top: 5px;
    
                    .myinfo-nick {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .myinfo-level {
                        display: inline-block;
                        height: 17px;
                        padding: 0 10px;
                        border: 1px solid #999;
                        border-radius: 8.5px;
                        color: #999;
                        font-size: 12px;
                        font-weight: 700;
                        font-style: italic;
                        line-height: 17px;
                    }
                    .btn-sign {
                        width: 95px;
                        height: 30px;
                        margin-top: 15px;
                    }
                }
            }
            .myinfo-ft {
                margin-top: 25px;

                li {
                    display: inline-block;
                    width: 60px;
                    height: 40px;
                    border-right: 1px solid #E4E4E4;
                    padding-left: 15px;

                    span {
                        font-size: 20px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                li:last-child {
                    border: none;
                }
            }
            
            
        }
    }
    
}

