.onlineMovie {
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: row;
    background: #1A1C1E;
    .left {
        padding-top: 150px;
        font-size: 18px;
        color: #A3A4A5;
        width: 60px;
    }   
    .center {
        justify-content: center;
        display: flex;
        flex: 1;
    } 
    .right {
        color: #A3A4A5;
        width: 380px;
        .authorInfo {
            padding: 20px;
            display: flex;
            flex-direction: column;
            .top {
                display: flex;
                flex-direction: row;
                .top_left {
                    margin-right: 24px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
                .top_right {
                    display: flex;
                    flex-direction: column;
                    .name {
                        font-size: 16px;
                        color: #FFF;
                        line-height: 24px;
                    }
                    .position {
                        text-align: left;
                        font-size: 12px;
                        color: rgba(255,255,255,.8);
                        line-height: 18px;
                    }
                }
            }
            .introduction {
                margin-top: 16px;
                text-align: left;
                font-size: 12px;
                color: rgba(255,255,255,.6);
                line-height: 22px;
            }
        }
    }
}