.input_phone {
    margin-top: 10px;
    width: 100%;
    height: 48px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
}

.input_check {
    margin-top: 10px;
    width: 60%;
    height: 48px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
}

.verificationCode {
    display: inline-block;
    margin-top: 10px;
    width: 40%;
    height: 48px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
}
.registerBtn {
    cursor : pointer;
    margin-top: 18px;
    border-radius: 15px;
    height: 36px;
    text-align: center;
    background: #F00D10;
    width: 100%;
    color: white;
    line-height: 36px;
}

// 主页tab的分享 
.share {
    display: flex;
    justify-content: space-between;
    .share_left {

    }
    .share_right {

    }
}

.login_quest {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.prompt {
    color: #f01414;
    font-size: 12px;
}