.learnItem {
    text-align: center;
    width: 360px;
    img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    display: flex;
    flex-direction: column;

    .learnItem_bottom {
        padding: 0 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}